# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Documentations
*.md
README.md
# Log directories
lightning_logs/
backup/

# IDE / Editor specific files
.vscode/
.idea/

# Virtual environment
venv/
.env/
env/