prompt_toolkit==3.0.51
decorator==5.2.1
parso==0.8.4
comm==0.2.2
tornado==6.4.2
python-dateutil==2.9.0.post0
six==1.17.0
debugpy==1.8.14
pure_eval==0.2.3
pyzmq==26.4.0
matplotlib-inline==0.1.7
pexpect==4.9.0
jupyter_core==5.7.2
asttokens==3.0.0
nest-asyncio==1.6.0
psutil==7.0.0
traitlets==5.14.3
executing==2.2.0
wcwidth==0.2.13
ptyprocess==0.7.0
ipython_pygments_lexers==1.1.1
ipykernel==6.29.5
ipython==9.2.0
jupyter_client==8.6.3
Pygments==2.19.1
platformdirs==4.3.8
stack-data==0.6.3
jedi==0.19.2
Flask==3.1.2
prompt_toolkit==3.0.51
decorator==5.2.1
google-genai==1.39.1
pytz==2025.2
opencv-python-headless==4.12.0.88
opencv-contrib-python==4.10.0.84
python-json-logger==3.3.0
isoduration==20.11.0
rsa==4.9.1
ace_tools==0.0
google-auth==2.40.3
pickleshare==0.7.5
opt-einsum==3.3.0
jsonargparse==4.40.0
langchain-community==0.3.27
langchain-core==0.3.74
httplib2==0.22.0
langchain-google-genai==2.1.9
xxhash==3.5.0
parso==0.8.4
PyRect==0.2.0
mido==1.3.2
tinycss2==1.4.0
fastapi==0.115.0
exceptiongroup==1.3.0
comm==0.2.2
httpx-sse==0.4.1
boltons==23.0.0
python-multipart==0.0.10
pynput==1.8.1
jsonschema==4.25.0
tornado==6.4.2
cryptography==42.0.5
streamlit==1.48.1
websocket-client==1.8.0
anyio==4.9.0
jupyterlab_pygments==0.3.0
PyScreeze==1.0.1
cycler==0.12.1
jupyter-events==0.12.0
MarkupSafe==3.0.2
SQLAlchemy==2.0.43
datasets==4.0.0
sympy==1.14.0
pandas==2.3.1
pycryptodomex==3.20.0
python-dateutil==2.9.0.post0
openai==2.3.0
python3-xlib==0.15
mdurl==0.1.2
narwhals==2.1.2
uri-template==1.3.0
six==1.17.0
evdev==1.9.2
pycryptodome==3.23.0
fsspec==2025.3.0
beautifulsoup4==4.13.4
zstandard==0.24.0
websockets==15.0.1
iniconfig==2.1.0
RapidFuzz==3.13.0
seaborn==0.13.2
click==8.1.7
lxml==6.0.0
libmambapy==1.5.8
progress==1.6
flax==0.10.7
conda==24.11.3
msgpack==1.1.1
google-api-python-client==2.179.0
joblib==1.5.2
tzdata==2025.2
jaxlib==0.6.2
biopython==1.85
tensorstore==0.1.75
debugpy==1.8.14
pyzipper==0.3.6
rfc3986-validator==0.1.1
attrs==25.3.0
Send2Trash==1.8.3
pure_eval==0.2.3
google-auth-httplib2==0.2.0
httpx==0.28.1
jupyterlab==4.4.5
proto-plus==1.26.1
antlr4-python3-runtime==4.9.3
notebook_shim==0.2.4
requests==2.32.3
matplotlib-inline==0.1.7
pexpect==4.9.0
PyGetWindow==0.0.9
greenlet==3.2.4
starlette==0.38.6
jupyter_core==5.7.2
scikit-learn==1.7.2
pip==25.2
async-lru==2.0.5
Jinja2==3.1.6
frozendict==2.4.2
midi2audio==0.1.1
pillow==11.2.1
torchmetrics==1.7.2
pluggy==1.6.0
Flask-SQLAlchemy==3.1.1
ml_dtypes==0.5.0
propcache==0.3.1
wheel==0.43.0
dill==0.3.8
pytorch-lightning==2.5.1.post0
mpmath==1.3.0
watchdog==6.0.0
pydantic_core==2.23.4
platformdirs==3.10.0
sniffio==1.3.1
typing_extensions==4.12.2
typing_extensions==4.13.2
yarl==1.20.0
pyperclip==1.9.0
uritemplate==4.2.0
aiohttp==3.12.11
typing-inspection==0.4.1
rfc3987-syntax==1.1.0
tbomb==2.1.2
bce-python-sdk==0.9.42
anaconda-anon-usage==0.4.4
idna==3.7
pyparsing==3.2.3
jupyter_server==2.16.0
nbclient==0.10.2
jsonschema-specifications==2025.4.1
chex==0.1.89
langchain-text-splitters==0.3.9
lark==1.2.2
babel==2.17.0
tenacity==8.5.0
certifi==2025.4.26
pyarrow==20.0.0
jiter==0.11.0
cffi==1.16.0
tensorboard==2.19.0
rich==13.9.4
dataclasses-json==0.6.7
pyzmq==26.2.0
google-api-core==2.25.1
pydantic==2.9.2
paddlepaddle==3.1.1
nbformat==5.10.4
arrow==1.3.0
matplotlib==3.10.3
paddleocr==3.2.0
google-generativeai==0.8.5
bitsandbytes==0.46.0
hydra-core==1.3.2
jsonpatch==1.33
json5==0.12.0
conda-libmamba-solver==24.7.0
soupsieve==2.7
asttokens==3.0.0
google-ai-generativelanguage==0.6.18
nest_asyncio==1.6.0
requests-toolbelt==1.0.0
psutil==7.0.0
psutil==6.0.0
pyclipper==1.3.0.post6
setuptools==72.1.0
aiohappyeyeballs==2.6.1
Werkzeug==3.1.3
yt-dlp==2025.6.9
traitlets==5.14.3
colorlog==6.9.0
executing==2.2.0
terminado==0.18.1
fqdn==1.5.1
PyAutoGUI==0.9.54
overrides==7.7.0
wcwidth==0.2.13
ujson==5.11.0
rpds-py==0.26.0
ptyprocess==0.7.0
toml==0.10.2
cachetools==5.5.2
protobuf==5.29.5
bleach==6.2.0
torch==2.7.0+cpu
ipython_pygments_lexers==1.1.1
typing-inspect==0.9.0
prometheus_client==0.22.1
referencing==0.36.2
optax==0.2.5
simplejson==3.20.1
conda-content-trust==0.2.0
nbconvert==7.16.6
hf-xet==1.1.3
pydantic-settings==2.10.1
distro==1.9.0
orjson==3.11.2
packaging==24.2
packaging==23.2
ipykernel==6.29.5
multidict==6.4.4
huggingface-hub==0.34.4
safetensors==0.6.2
PyYAML==6.0.2
argon2-cffi-bindings==25.1.0
tqdm==4.66.4
absl-py==2.3.0
mypy_extensions==1.1.0
aiosignal==1.3.2
smmap==5.0.2
scipy==1.14.1
pytest==8.4.2
numpy==2.1.1
sse-starlette==2.1.3
tensorboardX==2.6.2.2
ruamel.yaml==0.17.21
orbax-checkpoint==0.11.18
jupyter-lsp==2.2.6
pyasn1_modules==0.4.2
conda_package_streaming==0.10.0
Markdown==3.8.2
chardet==5.2.0
toolz==1.0.0
graphviz==0.21
keyboard==0.13.5
docstring_parser==0.16
threadpoolctl==3.6.0
rfc3339-validator==0.1.4
googleapis-common-protos==1.70.0
filelock==3.18.0
ipython==9.2.0
zipp==3.21.0
truststore==0.8.0
networkx==3.4.2
GitPython==3.1.44
python-dotenv==1.1.1
markdown-it-py==3.0.0
webencodings==0.5.1
langchain==0.3.27
lightning-utilities==0.14.3
jupyterlab_server==2.27.3
imagesize==1.4.1
h11==0.16.0
humanize==4.12.3
Brotli==1.0.9
multiprocess==0.70.16
pydeck==0.9.1
python-docx==1.2.0
jax==0.6.2
grpcio==1.73.1
annotated-types==0.7.0
jupyter_client==8.6.3
colorama==0.4.6
Pygments==2.19.1
treescope==0.1.9
uvicorn==0.30.6
regex==2024.9.11
menuinst==2.1.2
pyasn1==0.6.1
tiktoken==0.7.0
python-xlib==0.33
paddlex==3.2.0
fonttools==4.58.2
charset-normalizer==3.3.2
contourpy==1.3.2
PySocks==1.7.1
transformers==4.55.4
lightning==2.5.1.post0
stack_data==0.6.3
kiwisolver==1.4.8
jupyter_server_terminals==0.5.3
marshmallow==3.26.1
types-python-dateutil==2.9.0.20250708
future==1.0.0
archspec==0.2.3
shapely==2.1.1
urllib3==2.2.2
mistune==3.1.3
pypdfium2==4.30.0
modelscope==1.29.1
stripe==12.5.1
fastjsonschema==2.21.1
conda-package-handling==2.3.0
defusedxml==0.7.1
PyMsgBox==1.0.9
tensorboard-data-server==0.7.2
jedi==0.19.2
aistudio_sdk==0.3.5
webcolors==24.11.1
PyMuPDF==1.26.3
blinker==1.9.0
tokenizers==0.21.1
py-cpuinfo==9.0.0
grpcio-status==1.71.2
frozenlist==1.6.2
httpcore==1.0.9
pycosat==0.6.6
jsonpointer==2.1
prettytable==3.16.0
itsdangerous==2.2.0
pytweening==1.2.0
sentry-sdk==2.32.0
pandocfilters==1.5.1
altair==5.5.0
etils==1.12.2
typeshed_client==2.7.0
importlib_metadata==8.6.1
omegaconf==2.3.0
wandb==0.21.0
filetype==1.2.0
langsmith==0.4.16
pycparser==2.21
argon2-cffi==25.1.0
importlib_resources==6.5.2
gitdb==4.0.12
